.WebsiteLogin {
    background: linear-gradient(to left, #ffc0cb, #800080);
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginBox {
    background-color: white;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: black solid 2px;
}

.RegisterChild:nth-child(1), 
.RegisterChild:nth-child(2),
.RegisterChild:nth-child(3),
.RegisterChild:nth-child(4) {
    margin-top: 1rem;
}

.RegisterInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginButtons {
    margin: 1rem;
    display: flex;
    width: 11rem;
    justify-content: space-between;
}

.WebsiteTitle {
    /* color: #63E6FF; */
    /* color: #00FBFF; */
    /* color: #C8CAFF; */
    font-size: 4rem;
    letter-spacing: 1rem;
}

.WebsiteTitle.h1 {
    text-align: center;
}

/* Responsive Design */
@media( 320px <= width <= 375px ) {
    #ResponsiveWebsiteTitle {
        font-size: 1.3rem !important;
    }

    .WebsiteTitle {
        text-align: center;
    }

    .PortfolioCard {
        display: none;
    }

    .LoginBox {
        margin-top: .5rem !important;
    }
}

@media( 375px <= width <= 425px ) {
    #ResponsiveWebsiteTitle {
        font-size: 1.3rem !important;
    }

    .WebsiteTitle {
        text-align: center;
    }

    .PortfolioCard {
        display: none;
    }

    .LoginBox {
        margin-top: .5rem !important;
    }
}


@media( 425px <= width <= 768px ) {
    #ResponsiveWebsiteTitle {
        font-size: 1.3rem !important;
    }

    .WebsiteTitle {
        text-align: center;
    }

    .PortfolioCard {
        display: none;
    }

    .LoginBox {
        margin-top: .5rem !important;
    }
}

@media( 768px <= width <= 1024px ) {
    .NavBar {
        background: brown;
    }
}

@media( 1024px <= width <= 1440px ) {
    .NavBar {
        background: blue;
    }
}

/* @media ( width >= 1440px ) {
    .NavBar {
        background: rgb(0, 225, 255);
    }
} */