#Website {
    height: 100vh;
    width: 204.9vh;
    /* height: 58.56rem; */
    /* width: 120rem; */
}

.big {
    padding-top: 3rem;
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    color: white;
    background: black;
    /* background: #FBF4D7; */
    /* background: #560034; */
    /* background: #0084A9; */
    width: 100%;
    position: fixed;
    z-index: 1;
    text-align: center;
}

.NavBar span {
    color: #69EEFF;
    font-size: 1.5rem;
}