#Website {
    height: 100vh;
    width: 204.9vh;
    /* height: 58.56rem; */
    /* width: 120rem; */
}

.big {
    padding-top: 3rem;
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    position: fixed; 
    z-index: 1;
    text-align: center;
}

.NavBar span {
    color: #ff00ea;
    font-size: 2rem;
}

.NavBar span:hover {
    background: rgb(0, 247, 255);
    color: rgb(0, 0, 0);
    border-radius: 3rem;
    padding: 0 .5rem;
    cursor: pointer;
}