/* 
    CSS Notes:
    box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
    background: linear-gradient(to right, #ad5389, #3c1053);
    linear-gradient(to right, #8e9eab, #eef2f3)
    background: linear-gradient(to bottom, #ef32d9, #89fffd);
    Use this for bible stuff
    background: linear-gradient(to top, #d9a7c7, #fffcdc);
*/

.AppPage {

    background: linear-gradient(to bottom, #ef32d9, #89fffd); 
}

.AppNavBar {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    height: 6%;
    min-height: 3.5rem;
    width: 100%;
    font-size: 1em;
    box-shadow: 0 1px 1rem black;
    position: relative;
    top: 0rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.Routes {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

#website-padding {
    padding: 1rem 1rem 0 1rem;
}